<!DOCTYPE html>
<html ng-app="myapp" lang="en" >
  <head>
   <meta charset="UTF-8">
   <base href="/spring/">
    <link href="resource/signin.css" rel="stylesheet">
     <link href="resource/bootstrap.min.css" rel="stylesheet">
     <script src="resource/jquery.min.js"></script>
    <script src="resource/bootstrap.min.js"></script>
    <script src="resource/angular.js"></script>
   <script src="resource/angular-resource.js"></script>
   <script src="resource/angular-route.js"></script>
  <script>
    
  var app=angular.module('myapp',['ngResource','ngRoute']);
  app.factory('Data',function(){var data=[];return {getfirstname:function(){return data;},setfirstname:function(name){data=name;}};});
  app.factory('Ticket',function(){var person=null;return {getfirstname:function(){return person;},setfirstname:function(name){person=name;}};});
  
  app.factory("Post",function($resource){return $resource("movies/:id",{id:'@id'})});
  app.factory("Signup",function($resource){return $resource("user/")});
  app.factory("Signin",function($resource){return $resource("user/:email",{email:'@email'})});
  app.config(function($routeProvider, $locationProvider){
	  $locationProvider.html5Mode(true);
	  $routeProvider.
	  when('/resource/index.html',{templateUrl:'resource/movies.html',controller:'mycon'}).
	  when('/moviedetail/:id',{templateUrl:'resource/moviedetail.html',controller:'viewcon'}).
	  when('/q',{templateUrl:'resource/q.html',controller:'signin'}).
	  when('/p',{templateUrl:'resource/p.html',controller:'signup'}).
	  when('/search',{templateUrl:'resource/search.html',controller:'mysearch'});});
 
  app.controller("mycon",function($scope,Post){ Post.query(function(data){$scope.movies=data;});});
 
 app.controller("viewcon",function($scope,$routeParams,Post,Ticket,$location){
                   Post.get({id:$routeParams.id},function(data){
                	   $scope.image=data.image;
                	   $scope.name=data.name;
                	   $scope.detail=data.detail;
                	  
                   });
        $scope.buy=function(){
                	  
                	  if(Ticket.getfirstname()){
                		  $location.path('/resource/index.html');
                	  }else{ $location.path('/q');}
                   }           
 
 });
 
 app.controller("mynav",function($scope,Post,$location,Data){ 
	 
	 
	 $scope.search=function(){
		
		 Post.query({searchValue:$scope.searchValue},function(rdata){
			 Data.setfirstname(rdata);
			 $location.path('/search');
		 });
			  }
	 
	 $scope.signin=function(){
			
		 
			 $location.path('/q');
		
			  }
	 $scope.signup=function(){
			
		 
			 $location.path('/p');
		
			  }
 
 
 
 });  

 app.controller("mysearch",function($scope,Post,Data){ 
	
	 $scope.searchmovies=Data.getfirstname();
	 
	 });     
 
 app.controller("signup",function($scope,Signup,$location){ 
	$scope.signup=function(){
	 Signup.get({name:$scope.username,email:$scope.email,name:$scope.password},function(data){
  	              if(data.name=="welcome"){
  	            	  
  	            	$location.path("/q");
  	              }else{
  	            	$scope.wrong='no user exits';
  	            	  
  	              }
  	  
     });
	}
	 }); 
 
 
                   
 app.controller("signin",function($scope,Signin,$location,Ticket){ 
		$scope.signin=function(){
		 Signin.get({email:$scope.email},function(data){
	  	              if(data.name=="welcome"){
	  	            	Ticket.setfirstname({"name":"aaa"}) ;
	  	            	$location.path("/resource/index.html");
	  	              }
	  	  
	     });
		}
		 });      
 
 
 
 
 
 
 
 
 </script>
   
    
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top" role="navigation" ng-controller="mynav">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="resource/index.html">Movie</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
              
                <li><input type="text"  class="form-control" ng-model="searchValue"></li>
                 <li><button type="submit" class="btn btn-success" ng-click="search()">Search</button></li>
                  <li><button  class="btn btn-success" ng-click="signin()">Sign in</button></li>
                   <li><button  class="btn btn-success" ng-click="signup()">Sign up</button></li>
              </ul>
            </div>
          </div>
        
        </nav>

      </div>
    </div>

<!-- ==================================================================================== -->
  

     <div ng-view  class="container marketing">
     
     
   

     </div>
     
     
     
     
     
  </body>
</html>

