 <div class="row" >
        <div class="col-lg-4"  ng-repeat="movie in movies">
          <img class="img-circle" ng-src="resource/{{movie.image}}" style="width: 140px; height: 140px;">
          <h2>{{movie.name}}</h2>
          <p>{{movie.detail}}</p>
          <p><a class="btn btn-default" href="moviedetail/{{movie.id}}" role="button">View details &raquo;</a></p>
          </div>
      </div>
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>