<div class="row" >
        <div class="col-lg-4" >
          <img class="img-rounded" ng-src="resource/{{image}}" style="width: 200px; height: 200px;">
          <h2>{{name}}</h2>
          <p>{{detail}}</p>
         <p>
       
       
        <button type="button" class="btn btn-lg btn-success">available</button>
        <button type="button" class="btn btn-lg btn-info" ng-click="buy()">buy</button>
        
        </p>
        </div>
       
      </div>
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>