
   

 

    <div class="container">

      <form class="form-signin" role="form">
        <h2 class="form-signin-heading">Please sign up</h2>
        <label  class="sr-only">username</label>
        <input type="text" class="form-control" placeholder="username" required autofocus ng-model="username">
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus ng-model="email">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required ng-model="password">
        
        <button class="btn btn-lg btn-primary btn-block" ng-click="signup()">Sign up</button>
      </form>  

    </div>


