      <div class="row" >
        <div class="col-lg-4"    ng-repeat="moviea in searchmovies">
          <img class="img-circle" ng-src="resource/{{moviea.image}}" style="width: 140px; height: 140px;">
          <h2>{{moviea.name}}</h2>
          <p>{{moviea.detail}}</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>  